<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>PostgreSQL BuildFarm Status</title>
    <link rel="stylesheet" rev="stylesheet" href="/inc/pgbf.css" charset="utf-8"
 />
    <style type="text/css"><!--
    li#status a { color:rgb(17,45,137); background: url(/inc/b/r.png) no-repeat 
100% -20px; } 
    li#status { background: url(/inc/b/l.png) no-repeat 0% -20px; }
    --></style>
</head>
<body>
<div id="wrapper">
<div id="banner">
<a href="/index.html"><img src="/inc/pgbuildfarm-banner.png" alt="PostgreSQL Bui
ldFarm" width="800" height="73" /></a>
<div id="nav">
<ul>
    <li id="home"><a href="/index.html" title="PostgreSQL BuildFarm Home">Home</
a></li>
    <li id="status"><a href="/cgi-bin/show_status.pl" title="Current results">St
atus</a></li>
    <li id="members"><a href="/cgi-bin/show_members.pl" title="Platforms tested"
>Members</a></li>
    <li id="register"><a href="/register.html" title="Join PostgreSQL BuildFarm"
>Register</a></li>
    <li id="pgfoundry"><a href="http://pgfoundry.org/projects/pgbuildfarm/">PGFo
undry</a></li>
    <li id="postgresql.org"><a href="http://www.postgresql.org">PostgreSQL.org</
a></li>
</ul>
</div><!-- nav -->
</div><!-- banner -->
<div id="main">
[% content %]
</div><!-- main -->
<hr />
<p style="text-align: center;">
Hosting for the PostgreSQL Buildfarm is generously 
provided by: 
<a href="http://www.commandprompt.com">CommandPrompt, 
The PostgreSQL Company</a>
</p>
</div><!-- wrapper -->
  </body>
</html>
