[%#

Copyright (c) 2003-2022, Andrew Dunstan

See accompanying License file for license details

-%]
[% WRAPPER 'page.tt' 
    title = livery.brand _ ' Application'
    bodyclass = 'application'
    pagebutton = 'none'
%]
<h1>[% livery.brand %] Application received</h1>
<p>Thank you. You should hear from us shortly.</p>
[% END %]
