[%#

Copyright (c) 2003-2022, Andrew Dunstan

See accompanying License file for license details

-%]
[% WRAPPER 'page.tt' 
    title = 'PostgreSQL BuildFarm Application'
    bodyclass = 'application'
    pagebutton = 'none'
%]
<h1>Incomplete data</h1>
<p>You need to complete all the form items. 
Please try again.
</p>
[% END %]
